.App {
  min-height: calc(100vh - 8vh);
}

footer {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: lightgray;
  padding: 8px;
  text-align: center;
  box-shadow: 0px -4px 3px lightGray;
  margin-top: 20px;
}
